<main class="container max-w-screen-lg mx-auto">
  <div class="header flex justify-between flex-wrap mb-8">
    <h1 class="text-4xl text-text-header font-semibold">Quotes</h1>
    <%= render Shared::Button::Component.new(text: "Add quote", link: new_quote_path, turbo_frame: dom_id(Quote.new)) %>
  </div>

  <%= turbo_frame_tag Quote.new %>
  <%= turbo_frame_tag "quotes" do %>
    <% if @quotes.present? %>
        <%= render Quote::Component.with_collection(@quotes) %>
    <% else %>
      <div class="border-light border-dashed border-2 rounded p-4 flex flex-col">
        <h2 class="inline-block mx-auto text-md text-text-body font-semibold mb-1">You don't have any quotes yet</h2>
        <p class="inline-block text-text-muted mx-auto mb-4">Get started by creating a new quote.</p>
        <%= render Shared::Button::Component.new(text: "Add quote", link: new_quote_path) %>
      </div>
    <% end %>
  <% end %>
</main>